@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #015a80;
  --color-secondary: #21a89f;
  --background-image-fade-edge: linear-gradient(to bottom, transparent 0%, #cad5e2 5%, #cad5e2 95%, transparent 100%);
}

@layer base {
  h1 {
    @apply text-6xl font-semibold mb-5;
  }
}