<section class="prose prose-h1:font-light prose-h1:text-5xl prose-h1:text-balance prose-p:text-lg max-w-full mt-5">
  <div class="max-w-350 mx-auto p-3">
    <h1 class="text-center">Apuesta de valor</h1>
    <article>
      <div class="my-auto">
        <p>La cetrería, un <strong>arte milenario</strong> de caza con aves rapaces, ofrece una experiencia única que conecta al ser humano con la naturaleza de una manera profunda y significativa. A través de esta antigua práctica, se establece un vínculo íntimo entre el cetrero y su ave, creando una relación de confianza y respeto mutuo. Además de ser una forma de caza sostenible y selectiva, la cetrería promueve la conservación de las aves rapaces y sus hábitats naturales.</p>
        <p>Únete a nosotros en esta <strong>fascinante aventura</strong> y descubre el apasionante mundo de la cetrería.</p>
      </div>
      <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-10.webp" alt="Imagen de aeropuerto con cetrería">
    </article>
    <article class="mt-32">
      <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-30.webp" alt="Imagen de aeropuerto con cetrería">
      <div>
        <h1>Beneficios y ventajas para la naturaleza</h1>
        <p>La cetrería no solo es una forma de caza respetuosa con el medio ambiente, sino que también desempeña un papel crucial en la conservación de las aves rapaces y la biodiversidad en general. Al criar y entrenar aves rapaces en cautiverio, contribuimos a la <strong>preservación de especies en peligro de extinción</strong> y al mantenimiento del equilibrio ecológico. Además, la cetrería fomenta la <strong>protección de los espacios naturales</strong>, promoviendo la conciencia sobre la importancia de conservar nuestros recursos naturales para las generaciones futuras.</p>
      </div>
    </article>
    <article>
      <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-34.webp" alt="Imagen de aeropuerto con cetrería">
      <div>
        <h1>Beneficios y ventajas para la comunidad</h1>
        <p>La práctica de la cetrería no solo beneficia a la naturaleza, sino también a la comunidad en su conjunto. Como una forma de caza selectiva y controlada, la cetrería ayuda a <strong>regular las poblaciones de presas</strong> y a prevenir daños a los cultivos y la fauna local. Además, la cetrería fomenta el <strong>turismo sostenible</strong> y la <strong>economía local</strong>, atrayendo a visitantes interesados en aprender sobre esta antigua tradición y disfrutar de la belleza natural de los entornos donde se practica.</p>
      </div>
    </article>
  </div>
</section>

<style>
  @import "tailwindcss";
  article {
    @apply grid grid-cols-2 place-content-center gap-20 mb-10 max-lg:grid-cols-1 max-lg:gap-10
  }
  img {
    @apply w-full rounded-lg m-0 
  }
</style>