<section class="max-w-full bg-[#eaeef4] py-20 pt-15 mt-20">
  <div class="max-w-350 mx-auto">
    <h1 class="text-6xl font-semibold mb-5 text-center">Expertos Técnicos</h1>
    <div class="
    grid grid-cols-2 gap-y-10 gap-x-20 mt-16 px-34
    *:bg-white/50 *:grid-cols-[40%_1fr] *:grid *:py-2 *:px-5 *:text-primary *:uppercase *:font-bold *:text-2xl *:mt-5 *:text-pretty
    **:relative [&_div:has(h1)]:flex [&_div:has(h1)]:flex-col [&_div:has(h1)]:justify-center [&_div:has(h1)]:items-start [&_div:has(p)]:p-5
    ">
      <article>
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Proyecto-nuevo-480x480.png" alt="">
        </div>
        <div>
          <h1>Eulogio Gandullo</h1>
          <p>Destacado cetrero con más de 25 años como halconero en el Aeropuerto de Sevilla, ha dedicado su vida a la protección aeroportuaria y la educación ambiental.</p>
        </div>
      </article>
      <article>
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Proyecto-nuevo-1-480x480.png" alt="">
        </div>
        <div>
          <h1>Jaime Gastalver</h1>
          <p>Renombrado cetrero con más de 15 años de experiencia como halconero en aeropuertos, ha combinado su pasión por las aves con una notable contribución a la educación ambiental.</p>
        </div>
      </article>
      <article>
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Proyecto-nuevo-2-480x480.png" alt="">
        </div>
        <div>
          <h1>Jesus Bautista</h1>
          <p>Es un respetado cetrero con más de 25 años de trayectoria como cetrero. A lo largo de su carrera, ha impartido más de 25 aulas de educación ambiental desde la perspectiva de la cetrería.</p>
        </div>
      </article>
      <article>
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Sin-titulo-5_Mesa-de-trabajo-1-copia-3-1-480x480.png" alt="">
        </div>
        <div>
          <h1>Cristofer Martín</h1>
          <p>El más joven de su equipo de cetrería, cuenta con 5 años de experiencia. Su background como docente enriquece su enfoque pedagógico, uniendo su entusiasmo por la naturaleza y las aves.</p>
        </div>
      </article>
    </div>
  </div>
</section>

<style>
  @import 'tailwindcss';

  img {
    @apply h-auto w-full rounded-lg absolute -top-5 -left-10 shadow-lg shadow-black/40
  }

  article p {
    @apply text-gray-700 text-sm mt-2 font-normal normal-case
  }
</style>