<section class="h-180">
  <div class="grid grid-cols-2 mx-30 h-full">
    <div class="h-full w-fit bg-[rgba(220,249,253,0.4)] flex flex-col justify-center p-10 gap-4">
      <h1 class="text-4xl text-white font-light">Empresa de <span class="font-bold">control de fauna</span> aeroportuaria especialista <span class="font-bold">en cetrería</span> y en el manejo integral de la fauna en sus diversos entornos</h1>
      <a class="uppercase p-2 px-4 rounded-xl bg-white text-secondary w-fit underline font-semibold text-xl" href="">contacto</a>
    </div>
  </div>
</section>

<style>
	section {
		background: url(https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/common-buzzard-flight-first-light-morning-cold-winter-day-1.webp);
		background-position: center;
		background-size: cover;
	}	
</style>