---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section>
    <h1>Divulgamos la <strong>Cultura</strong>, el Arte de la Cetrería y cómo aplicarlo</h1>
    <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/captive-harris-hawk-used-falconry-with-wings-spread-flight-2-1.png" alt="">
  </section>
</Layout>