---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="relative h-screen -mt-24 pt-24">
    <h1 class="absolute z-10 text-5xl tracking-wide font-light italic text-primary w-1/2 text-balance top-2/5 text-center">Divulgamos la <strong>Cultura</strong>, el <strong>Arte de la Cetrería</strong> y cómo aplicarlo</h1>
    <img class="h-full object-cover rotate-y-180 object-top-right" src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/captive-harris-hawk-used-falconry-with-wings-spread-flight-2-1.png" alt="">
  </section>
  <section>
    <h1>Educación ambiental en las aulas</h1>
  </section>
</Layout>