---
import GeneralInfo from "../components/sections/general-info.astro";
import Presentation from "../components/sections/presentation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Presentation />
	<GeneralInfo />
  <section class="bg-cyan-50 bg-[url(https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/flock-birds-flying-1.png)]">
    <div class="max-w-350 mx-auto text-center py-10 p-3 relative pb-64">
      <h1>Formación</h1>
      <article class="flex gap-32 mx-auto w-fit *:flex *:flex-col *:items-center *:gap-2 *:text-2xl *:font-semibold *:text-[#005b7d] mt-15">
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Group-29.png" alt="Educación ambiental">
          <h2>Educación ambiental</h2>
        </div>
        <div>
          <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/6.png" alt="Formaciones autodidactas">
          <h2>Formaciones autodidactas</h2>
        </div>
      </article>
      <article class="flex mt-30 gap-20 *:size-full px-10 absolute">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Sin-titulo-4-01-1.png" alt="Formación en el control de fauna">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Sin-titulo-4-03-1.png" alt="Formación en el control de fauna">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Sin-titulo-4-02-1.png" alt="Formación en el control de fauna">
      </article>
    </div>
  </section>

  <section class="pt-50">
    <div class="max-w-350 mx-auto text-center py-10 pb-30 p-3">
      <h1>Logros</h1>
      <article class="flex *:h-full justify-center gap-20 items-center h-40 mt-20">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/image-1.png" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/image-2.png" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/image-3.png" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/image-4.png" alt="">
      </article>
    </div>
  </section>
  
  <section class="bg-[url(https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/testimonios-fondo.webp)] bg-top-right bg-no-repeat bg-cover">
    <div class="max-w-350 mx-auto text-center pb-35 pt-20 p-3">
      <h1>Socios</h1>
      <article class="flex *:w-full justify-center gap-30 items-center mt-20 w-full px-24">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/g10.png" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/Group-34-1.webp" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/XMLID_1_.png" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/Group.png" alt="">
      </article>
    </div>
  </section>
</Layout>