---
import ApuestaValor from "../components/sections/apuesta-valor.astro"
import ExpertosTecnicos from "../components/sections/expertos-tecnicos.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="grid grid-cols-[1fr_60%] min-h-screen -mt-24 pt-24 relative">
    <article class="bg-[#e1e6e6] text-lg">
      <div class="w-3/5 ml-auto mr-18 h-full flex flex-col justify-center gap-5">
        <h1 class="text-primary uppercase font-bold text-5xl text-balance">27 años de nuestra empresa</h1>
        <p class="text-gray-800 text-balance">Durante un cuarto de siglo, los custodios de la seguridad del <strong>aeropuerto de Sevilla</strong>, <strong>evitando colisiones devastadoras</strong> entre aves y aeronaves mediante el mágico arte de la cetrería. No solo protegemos la seguridad en los cielos, sino que también <strong>educamos</strong> a las nuevas y no tan nuevas generaciones para que valoren y respeten nuestro entorno natural.</p>
      </div>
    </article>
    <img class="size-full object-cover" src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-17.webp" alt="Nuestra empresa">
    <div class="absolute inset-0 bg-personal"></div>
  </section>
  <ApuestaValor />
  <ExpertosTecnicos />
  <section class="pb-10">
    <div class="max-w-350 mx-auto">
      <h1 class="text-center pt-15 pb-10">Valores empresariales</h1>
      <ul class="[&_h2]:text-2xl [&_h2]:font-bold [&_h2]:text-primary flex text-center gap-20">
        <li>
          <h2>Respeto</h2>
          <p>Valoramos cada forma de vida y trabajamos para coexistir pacíficamente.</p>
        </li>
        <li>
          <h2>Integridad</h2>
          <p>Nuestra palabra es nuestra promesa. Actuamos con transparencia y honestidad.</p>
        </li>
        <li>
          <h2>Pasión</h2>
          <p>Ponemos el corazón en cada actividad, en cada vuelo, en cada enseñanza.</p>
        </li>
        <li>
          <h2>Sostenibilidad</h2>
          <p>Comprometidos con la protección de nuestro frágil planeta, hoy y siempre. para coexistir pacíficamente.</p>
        </li>
      </ul>
      <div class="flex mt-20 *:w-full *:min-w-0 *:rounded-2xl *:shadow-xl *:shadow-black/40 gap-40 px-20">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-13.webp" alt="">
        <img src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-42.webp" alt="">
      </div>
    </div>
  </section>
</Layout>

<style>
  div.bg-personal {
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4), transparent 2%);
    /* clip-path: polygon(16% 100%, 82% 100%, 100% 84%, 100% 100%, 0 100%, 0 84%); */
  }
</style>