---
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Control de fauna aeroportuaria</title>
	</head>
	<body>
		<header class="h-24 w-full fixed px-5 bg-white z-50 flex justify-center items-center animate-[shadowFadeOut_1s_ease-out]">
			<nav class="uppercase text-nowrap text-primary text-lg font-semibold flex justify-center items-center gap-8 h-full mx-5">
				<a href="/">inicio</a>
				<a href="la-empresa">la empresa</a>
				<div class="group relative">
					<a href="control-fauna">control de fauna
						<ul class="h-0 group-hover:h-52 *:border-b text-[16px] *:hover:scale-105 *:transition-transform overflow-hidden absolute transition-all duration-300 backdrop-blur-2xl top-full group-hover:p-4 group-hover:pt-2 space-y-2 box-border">
							<li>
								<a href="#fauna-aeronautica">Fauna aeronáutica</a>
							</li>
							<li>
								<a href="#instalaciones-energeticas">Instalaciones energéticas</a>
							</li>
							<li>
								<a href="#instalaciones-agricolas-y-cultivos">Instalaciones agrícolas y cultivos</a>
							</li>
							<li>
								<a href="#urbanizaciones">Urbanizaciones</a>
							</li>
							<li>
								<a href="#comunidades">Comunidades</a>
							</li>
							<li>
								<a href="#">Edificios e Instalaciones públicas</a>
							</li>
						</ul>
					</a>
				</div>
				<a href="">actividades y formación</a>
				<a href="">blog y galería</a>
				<a href="">contacto</a>
			</nav>
			<img class="h-4/5 ml-40" src="https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/LOGO-2.png" alt="Logo de la empresa">
		</header>
		<main class="h-full pt-24">
			<slot />
		</main>
		<footer class="bg-primary h-10">
			
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		position: relative;
		scroll-behavior: smooth;
		scroll-padding-top: 120px;
	}

	body::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
		background-size: 16px 16px;
		mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 70%, transparent 100%);
		pointer-events: none;
		z-index: -1;
	}

	@keyframes shadowFadeOut {
		0% {
			box-shadow: none;
		}
		100% {
			box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
		}
	}

	header {
		box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
		animate: shadowFadeOut ease-out forwards;
		animation-timeline: scroll();
		animation-range: 0 100vh;
	}
</style>
